<div class="content text-center">

    <select #tipoIngreso class="form-select" name="tipoIngreso" id="tipoIngreso" (change)="selectedChange(tipoIngreso.value)">
        <option value="+">+</option>
        <option value="-">-</option>
    </select>

    <input [(ngModel)]="descripcion"  class="descripcion form-control" type="text" placeholder="Agregar Descripción">
    <input [(ngModel)]="valor" class="cantidad form-control" type="number" placeholder="Valor">
    <i (click)="nuevoRegistro()" class="far fa-check-circle fa-2x"></i>

</div>